@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", cursive;
    overflow: hidden;
}

body{
    background-image: url('assets/img/grass.jpg');
    background-size: cover;
}

header{
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 3rem;
    color: snow;
    background-color: rgba(0, 0, 34, 0.6);
    text-align: center;
}

h1{
    font-size: 5rem;
    font-weight: 300;
    flex:2;
}

p{
    flex:1;
}

b, .glow{
    color:snow;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em yellowgreen, 0 0 0.3em yellow;
}

.gameOver{
    text-shadow: 0 0 0.05em #fff, 0 0 0.3em hotpink, 0 0 0.4em crimson;
}

main{
    height: 80vh;
}

#board{
    padding: 20px;
    height: 100%;
    margin: 0 auto;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 80px;
    position: relative;
    z-index: 1;
}

.hole{
    background-color: rgb(165, 85, 11);
    border-radius: 50%;
    box-shadow: inset 0  10px 0 7px rgb(53, 21, 6),
     inset 0 20px 20px 15px rgba(0,0,0, 0.3),
     0 0 5px rgba(0,0,0, 0.5);

    position: relative;
    overflow: hidden;
}

.hole img, .mole{
    width: 70%;   
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise 0.3s ease-out;
}

@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0%);
    }
}


#hammer1, #hammer2, #hammer3{
    height: 110px;
    width:100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('assets/img/hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform 0.1s;
    z-index: 100;
}

#hammer1.active, #hammer3.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}

#hammer2{
    display: none;
    background-image: url('assets/img/hammer2.png');
}

#hammer2.active{
    transform: translate(-20%, -20%) rotate(45deg);
}

#hammer3{
    display: none;
    background-image: url('assets/img/hammer3.png');
}


footer{
    height: 10vh;
    color: snow;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(0, 0, 34,0.6);

}

.blood {
  background-color: crimson;
}

#gameOverMsg{
    height: 100%;
    margin: 0 auto;
    aspect-ratio: 1/1;
    text-align: center;
}

.button {
  position: relative;
  border: 0;
  padding: 1em 2em;
  font-weight: 700;
  cursor: pointer;
  outline: .2em solid #fff;
  outline-offset: -.3em;
  color: #fff;
  background-color: #333;
  /* text-transform: uppercase; */
  font-size: 1.3rem;
}

.button:hover {
  animation: shake 500ms infinite,glitch 400ms infinite steps(4);
}

@keyframes shake {
  0% {
  }

  25% {
    transform: translate(-.1em,-.1em);
  }

  50% {
    transform: translate(.3em,0);
  }

  75% {
    transform: translate(0,.3em);
  }

  100% {
  }
}

@keyframes glitch {
  from {
    box-shadow: .8em .8em  rgba(240, 84, 219),
  -.8em -.8em rgba(84, 240, 232);
  }

  to {
    text-shadow: .3em .2em  rgba(240, 84, 219),
  -.3em -.2em rgba(84, 240, 232);
  }
}